/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.body{
    background-color: #E5E5E5;;
}

.popularblock{
    margin: 0 auto;
    max-width: 1120px;
    padding-bottom: 82px;

    border-bottom: 1px solid #D9D9DE;
    margin-bottom: 50px;
}



.popularblock__title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;

    color: #1F1E1E;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}


.gridcontainer{
    width: 1120px;
    height: 1120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 32px;
}

.container{
    padding: 16px 10px 16px 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    color: #FFF;
    flex: 0;
}

.info{
    flex: 1 1 auto;
    margin: 15px 0;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #FFF;
}

.info p{
    margin-bottom: 15px;
}

.info p:last-child{
    margin-bottom: 0;
}

.price{
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #FFF;
}

.element:nth-child(5n) .subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.element:nth-child(1){
    background-image: url("../img/namibia.jpg");
    background-size: cover;
}

.element:nth-child(2){
    background-image: url("../img/kenia.jpg") ;
    background-size: cover;
}

.element:nth-child(3){
    background-image: url("../img/botswana.jpg") ;
    background-size: cover;
}

.element:nth-child(4){
    background-image: url("../img/southafrica.jpg") ;
    background-size: cover;
}

.element:nth-child(5){
    background-image: url("../img/safari.jpg") ;
    background-size: cover;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
}

.element:nth-child(6){
    background-image: url("../img/Capetown.jpg") ;
    background-size: cover;
}

.element:nth-child(7){
    background-image: url("../img/rsa.jpg") ;
    background-size: cover;
}

.element:nth-child(8){
    background-image: url("../img/zanzibar.jpg") ;
    background-size: cover;
}

.element:nth-child(9){
    background-image: url("../img/victoriafall.jpg") ;
    background-size: cover;
}

.element:nth-child(10){
    background-image: url("../img/adventure.jpg") ;
    background-size: cover;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}